.info {
    display: flex;
    flex-direction: column;
    border:  solid black;
    border-radius: 25px;
    width: 50%;
    margin: auto;
    text-align: center;


}

.icone{
    display: flex;
}

.infoGeneral{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid black;
}

.infoDetail{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 3em;
}


.recherche{
    display: flex;
    justify-content: center;
    margin: 3em;
}


.rechercheBar{
    display: flex;
    justify-content: center;
}

.textInfo{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 4em ;
}

.bouton{
    margin-left: 10px;
}
